name: Build

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest]

    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v6
      - name: Vet
        run: |
          gofmt -d -e -s . | tee /dev/stderr | awk 'END { if (NR > 0) { exit 1 } }'
          go vet ./...
          go tool honnef.co/go/tools/cmd/staticcheck ./...
      - name: Test
        run: go test -v ./...
      - name: Build
        run: go build -v ./...

  build:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'

    strategy:
      matrix:
        include:
          - label: armv5
            arch: arm
            arm: 5
          - label: armv6
            arch: arm
            arm: 6
          - label: armv7
            arch: arm
            arm: 7
          - label: arm64
            arch: arm64
          - label: amd64
            arch: amd64
          - label: i386
            arch: 386

    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - uses: actions/checkout@v6
      - name: Build
        run: go build -v ./...
        env:
          GOOS: linux
          GOARCH: ${{ matrix.arch }}
          GOARM: ${{ matrix.arm }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: avahi2dns-linux-${{ matrix.label }}
          path: avahi2dns
